@model Payohtee.Models.Personnel.Customs.CustomsOfficer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    /**
    * Extracted from: SweetAlert
    * Modified by: Istiak Tridip
    */

    .success-checkmark {
        width: 80px;
        height: 115px;
        margin: 0 auto;
    }

        .success-checkmark .check-icon {
            width: 80px;
            height: 80px;
            position: relative;
            border-radius: 50%;
            box-sizing: content-box;
            border: 4px solid #4CAF50;
        }

            .success-checkmark .check-icon::before {
                top: 3px;
                left: -2px;
                width: 30px;
                transform-origin: 100% 50%;
                border-radius: 100px 0 0 100px;
            }

            .success-checkmark .check-icon::after {
                top: 0;
                left: 30px;
                width: 60px;
                transform-origin: 0 50%;
                border-radius: 0 100px 100px 0;
                animation: rotate-circle 4.25s ease-in;
            }

            .success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
                content: '';
                height: 100px;
                position: absolute;
                background: #FFFFFF;
                transform: rotate(-45deg);
            }

            .success-checkmark .check-icon .icon-line {
                height: 5px;
                background-color: #4CAF50;
                display: block;
                border-radius: 2px;
                position: absolute;
                z-index: 10;
            }

                .success-checkmark .check-icon .icon-line.line-tip {
                    top: 46px;
                    left: 14px;
                    width: 25px;
                    transform: rotate(45deg);
                    animation: icon-line-tip 0.75s;
                }

                .success-checkmark .check-icon .icon-line.line-long {
                    top: 38px;
                    right: 8px;
                    width: 47px;
                    transform: rotate(-45deg);
                    animation: icon-line-long 0.75s;
                }

            .success-checkmark .check-icon .icon-circle {
                top: -4px;
                left: -4px;
                z-index: 10;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                position: absolute;
                box-sizing: content-box;
                border: 4px solid rgba(76, 175, 80, 0.5);
            }

            .success-checkmark .check-icon .icon-fix {
                top: 8px;
                width: 5px;
                left: 26px;
                z-index: 1;
                height: 85px;
                position: absolute;
                transform: rotate(-45deg);
                background-color: #FFFFFF;
            }

    @@keyframes rotate-circle {
        0% {
            transform: rotate(-45deg);
        }

        5% {
            transform: rotate(-45deg);
        }

        12% {
            transform: rotate(-405deg);
        }

        100% {
            transform: rotate(-405deg);
        }
    }

    @@keyframes icon-line-tip {
        0% {
            width: 0;
            left: 1px;
            top: 19px;
        }

        54% {
            width: 0;
            left: 1px;
            top: 19px;
        }

        70% {
            width: 50px;
            left: -8px;
            top: 37px;
        }

        84% {
            width: 17px;
            left: 21px;
            top: 48px;
        }

        100% {
            width: 25px;
            left: 14px;
            top: 45px;
        }
    }

    @@keyframes icon-line-long {
        0% {
            width: 0;
            right: 46px;
            top: 54px;
        }

        65% {
            width: 0;
            right: 46px;
            top: 54px;
        }

        84% {
            width: 55px;
            right: 0px;
            top: 35px;
        }

        100% {
            width: 47px;
            right: 8px;
            top: 38px;
        }
    }

    .chip {
        display: inline-block;
        padding: 0 25px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        border-radius: 25px;
        background-color: #f1f1f1;
        margin: 2px 0 2px 0;
    }

        .chip img {
            float: left;
            margin: 0 10px 0 -25px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }

        .chip i, i {
            margin: 0 5px 0 5px;
            font-size: 20px;
        }

        .chip a {
            margin: 0 5px 0 5px;
        }
</style>

<div class="form" id="customsofficer">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <i class="fa fa-user text-info" style="font-size:25px"></i>  Registered Details
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Customs Officer Number</span>
                        </div>
                        <input id="CustomsOfficerNumber" name="CustomsOfficerNumber" class="form-control" placeholder="Officer Number" autocomplete="off" />
                        @*<span asp-validation-for="PayohteeId" class="text-danger"></span>*@
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">National Registration Number</span>
                        </div>
                        <input id="NationalRegNo" name="NationalRegNo" class="form-control" autocomplete="off" />
                        @*<span asp-validation-for="CompanyAlias" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">NIS Number</span>
                        </div>
                        <input id="NISNo" name="NISNo" class="form-control" />
                        @*<span asp-validation-for="CompanyTaxId" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Tax Identification Number</span>
                        </div>
                        <input id="TIN" name="TIN" class="form-control" />
                        @*<span asp-validation-for="CompanyIndustry" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Officer Role</span>
                        </div>
                        <select id="RateCode" name="RateCode" class="form-control">
                            <option>Select</option>
                            <option value="01" data-RateAmount="50">Role 1</option>
                            <option value="02">Role 2</option>
                            <option value="03">Role 3</option>
                        </select>
                    </div>
                    <input id="PayRate" name="PayRate" type="hidden" value="20" />
                    <input id="PostName" name="PostName" type="hidden" value="Cleaner" />
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header py-3">
                    <i class="fa fa-id-card text-info" style="font-size:25px"></i>  Personal Details
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Title</span>
                        </div>
                        <input id="Title" name="Title" class="form-control" />
                        @*<span asp-validation-for="Address1" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">First Name</span>
                        </div>
                        <input id="FirstName" name="FirstName" class="form-control" />
                        @*<span asp-validation-for="Address2" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Middle Name</span>
                        </div>
                        <input id="MiddleName" name="MiddleName" class="form-control" />
                        @*<span asp-validation-for="Address3" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Last Name</span>
                        </div>
                        <input id="LastName" name="LastName" class="form-control" />
                        @*<span asp-validation-for="Address4" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Initial</span>
                        </div>
                        <input id="Initial" name="Initial" class="form-control" />
                        @*<span asp-validation-for="Address4" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Gender</span>
                        </div>
                        <select id="Gender" name="Gender" class="form-control">
                            <option>Select</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>

                        @*<span asp-validation-for="Address4" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Date Of Birth</span>
                        </div>
                        <input value="01-28-1981" id="DateOfBirth" name="DateOfBirth" class="form-control" type="date" />
                        @*<span asp-validation-for="Address4" class="text-danger"></span>*@

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-6">
                    <a id="btnAddAccount" class="btn btn-info text-white" data-toggle="modal" data-target="#BankAccountModal">
                        <i class="fa fa-id-card"></i>  Bank Account  <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="col-6">

                </div>
            </div>
            <div class="row">
                <div class="pillwrapper" id="pillcontainer" style="font-size:small">
                    <ul class="nav nav-pills nav-stacked " id="pillwrapper"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <i class="fa fa-envelope text-info" style="font-size:25px"></i>  Address Details
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Street</span>
                        </div>
                        <input id="Address1" name="Address1" class="form-control" />
                        @*<span asp-validation-for="Address1" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Apartment</span>
                        </div>
                        <input id="Address2" name="Address2" class="form-control" />
                        @*<span asp-validation-for="Address2" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">City</span>
                        </div>
                        <input id="Address3" name="Address3" class="form-control" />
                        @*<span asp-validation-for="Address3" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">District</span>
                        </div>
                        <input id="Address4" name="Address4" class="form-control" />
                        @*<span asp-validation-for="Address4" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Parish</span>
                        </div>
                        <select class="form-control" id="Parish" name="Parish">
                            @foreach (var item in Model.Parishes)
                            {
                                <option>
                                    @item
                                </option>
                            }
                        </select>
                        @*<span asp-validation-for="Parish" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Country</span>
                        </div>
                        <select class="form-control" id="Country" name="Country">
                            <option>Select Country</option>
                            <option>Barbados</option>
                        </select>
                        @*<span asp-validation-for="Country" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Postal Code</span>
                        </div>
                        <input id="PostalCode" name="PostalCode" class="form-control" />
                        @*<span asp-validation-for="PostalCode" class="text-danger"></span>*@
                    </div>
                </div>
            </div>
            <br />
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa fa-phone text-info" style="font-size:25px"></i>  Communication Details
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Home Phone</span>
                        </div>
                        <input id="HomePhone" name="HomePhone" class="form-control" placeholder="(246) 888-8888" />
                        @*<span asp-validation-for="CompanyPhoneNumber" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Work Phone</span>
                        </div>
                        <input id="WorkPhone" name="WorkPhone" class="form-control" placeholder="(246) 888-8888" />
                        @*<span asp-validation-for="CompanyPhoneNumber" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Mobile</span>
                        </div>
                        <input id="Mobile" name="Mobile" class="form-control" placeholder="(246) 888-8888" />
                        @*<span asp-validation-for="FaxNumber" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Email</span>
                        </div>
                        <input id="Email" name="Email" class="form-control" placeholder="payohtee@payohtee.bb" />
                        @*<span asp-validation-for="CompanyEmail" class="text-danger"></span>*@
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-2">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <input type="submit" id="btnSubmit" class="btn btn-info text-white" value="Submit" />
        </div>
    </div>
    <pre id="output"></pre>
    <div class="success-checkmark">
        <div class="check-icon">
            <span class="icon-line line-tip"></span>
            <span class="icon-line line-long"></span>
            <div class="icon-circle"></div>
            <div class="icon-fix"></div>
        </div>
    </div>
</div>
<script src="~/js/customsofficer.js"></script>
@await Html.PartialAsync("Modals/_AccountModalPartialView", new Payohtee.Models.Personnel.Customs.CustomsOfficer().BankAccounts)


