@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PELAS</h1>
  <div class="row">

      <div class="col-md-12">
          <img src="~/images/Screen-Shot-2015-12-01-at-17.38.13.png" class="embed-responsive-item" />
      </div>
  </div>
</div>
