<div class="modal" id="BankAccountModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Bank Account Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="contactmodal" name="contactmodal">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><strong>Bank Name</strong></span>
                    </div>
                    <input type="text" class="form-control" id="BankName" name="BankName"  required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><strong>Account Number</strong></span>
                    </div>
                    <input type="text" class="form-control" id="AccountNumber" name="AccountNumber" required>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="AddAccount" data-enter="modal">
                    Add Bank Account
                </button>
            </div>
        </div>
    </div>
</div>

