<div class="modal" id="ContactModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Company Contact Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="contactmodal" name="contactmodal">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><strong>Contact Name</strong></span>
                    </div>
                    <input type="text" class="form-control" id="ContactName" name="ContactName" min="1" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><strong>Contact Email</strong></span>
                    </div>
                    <input type="text" class="form-control" id="ContactEmail" name="ContactEmail" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><strong>Contact Mobile</strong></span>
                    </div>
                    <input type="text" class="form-control" id="ContactMobile" name="ContactMobile" min="1" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><strong>Contact Title</strong></span>
                    </div>
                    <input type="text" class="form-control" id="ContactTitle" name="ContactTitle" min="1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><strong>Social Media</strong></span>
                    </div>
                    <input type="text" class="form-control" id="SocialMedia" name="SocialMedia" min="1">
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="AddContact" data-enter="modal">
                    Add Company
                    Contact
                </button>
            </div>
        </div>
    </div>
</div>

