@model Payohtee.Models.Customer.Company

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .chip {
        display: inline-block;
        padding: 0 25px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        border-radius: 25px;
        background-color: #f1f1f1;
        margin: 2px 0 2px 0;
    }

        .chip img {
            float: left;
            margin: 0 10px 0 -25px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }

        .chip i, i {
            margin: 0 5px 0 5px;
            font-size: 20px;
        }

        .chip a {
            margin: 0 5px 0 5px;
        }
</style>

<div class="form" id="company">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <i class="fa fa-building"></i>  Registered Details
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">CAIPO ID</span>
                        </div>
                        <input id="PayohteeId" name="PayohteeId" class="form-control" placeholder="Registered Caipo Id" autocomplete="off" />
                        @*<span asp-validation-for="PayohteeId" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Company Name</span>
                        </div>
                        <input id="CompanyName" name="CompanyName" class="form-control" placeholder="Registered Company Name" autocomplete="off" />
                        @*<span asp-validation-for="CompanyName" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Company Alias</span>
                        </div>
                        <input id="CompanyAlias" name="CompanyAlias" class="form-control" autocomplete="off" />
                        @*<span asp-validation-for="CompanyAlias" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Company Tax Id</span>
                        </div>
                        <input id="CompanyTaxId" name="CompanyTaxId" class="form-control" />
                        @*<span asp-validation-for="CompanyTaxId" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">CompanyIndustry</span>
                        </div>
                        <input id="CompanyIndustry" name="CompanyIndustry" class="form-control" />
                        @*<span asp-validation-for="CompanyIndustry" class="text-danger"></span>*@
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa fa-phone"></i>  Company Details
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Phone</span>
                        </div>
                        <input id="CompanyPhoneNumber" name="CompanyPhoneNumber" class="form-control" placeholder="(246) 888-8888" />
                        @*<span asp-validation-for="CompanyPhoneNumber" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Fax</span>
                        </div>
                        <input id="FaxNumber" name="FaxNumber" class="form-control" placeholder="(246) 888-8888" />
                        @*<span asp-validation-for="FaxNumber" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Email</span>
                        </div>
                        <input id="CompanyEmail" name="CompanyEmail" class="form-control" placeholder="payohtee@payohtee.bb" />
                        @*<span asp-validation-for="CompanyEmail" class="text-danger"></span>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <i class="fa fa-envelope"></i>  Address Details
                    <a href="" id="coords"><i class=" fa fa-map-marker" style="font-size:25px"></i>Pin location</a>
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Street</span>
                        </div>
                        <input id="Address1" name="Address1" class="form-control" />
                        @*<span asp-validation-for="Address1" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Apartment</span>
                        </div>
                        <input id="Address2" name="Address2" class="form-control" />
                        @*<span asp-validation-for="Address2" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">City</span>
                        </div>
                        <input id="Address3" name="Address3" class="form-control" />
                        @*<span asp-validation-for="Address3" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">District</span>
                        </div>
                        <input id="Address4" name="Address4" class="form-control" />
                        @*<span asp-validation-for="Address4" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Parish</span>
                        </div>
                        <select class="form-control" id="Parish" name="Parish">
                            <option>St.Michael</option>
                            <option>Christ Church</option>
                            <option>St.Lucy</option>
                        </select>
                        @*<span asp-validation-for="Parish" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Country</span>
                        </div>
                        <select class="form-control" id="Country" name="Country">
                            <option>Select Country</option>
                            <option>Barbados</option>
                        </select>
                        @*<span asp-validation-for="Country" class="text-danger"></span>*@
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Postal Code</span>
                        </div>
                        <input id="PostalCode" name="PostalCode" class="form-control" />
                        @*<span asp-validation-for="PostalCode" class="text-danger"></span>*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <a id="addrank" class="btn btn-success text-white" data-toggle="modal" data-target="#contactModal">
                        <i class="fa fa-id-card"></i>Contact<i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="col-6">

                </div>
            </div>
            <div class="row">
                <div class="pillwrapper" id="pillcontainer">
                    <ul class="nav nav-pills nav-stacked " id="pillwrapper"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
       
        </div>
        <div class="col-md-6">
            <a id="btnSubmit" class="btn btn-info text-white">Submit</a>
        </div>
    </div>
<pre id="output"></pre>

</div>

@await Html.PartialAsync("Modals/_ContactModalPartialView", new Payohtee.Models.Customer.Company().Contacts)

