@model Payohtee.Models.Customer.Company

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <i class="fa fa-building"></i>  Company Details
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">CAIPO ID</span>
                        </div>
                        <input asp-for="PayohteeId" class="form-control" placeholder="Registered Caipo Id" />
                        <span asp-validation-for="PayohteeId" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Company Name</span>
                        </div>
                        <input asp-for="CompanyName" class="form-control" placeholder="Registered Company Name" />
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Company Alias</span>
                        </div>
                        <input asp-for="CompanyAlias" class="form-control" />
                        <span asp-validation-for="CompanyAlias" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Company Tax Id</span>
                        </div>
                        <input asp-for="CompanyTaxId" class="form-control" />
                        <span asp-validation-for="CompanyTaxId" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">CompanyIndustry</span>
                        </div>
                        <input asp-for="CompanyIndustry" class="form-control" />
                        <span asp-validation-for="CompanyIndustry" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa fa-phone"></i>  Contact Details
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Phone</span>
                        </div>
                        <input asp-for="CompanyPhoneNumber" class="form-control" placeholder="(246) 888-8888" />
                        <span asp-validation-for="CompanyPhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Fax</span>
                        </div>
                        <input asp-for="FaxNumber" class="form-control" placeholder="(246) 888-8888" />
                        <span asp-validation-for="FaxNumber" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Email</span>
                        </div>
                        <input asp-for="CompanyEmail" class="form-control" placeholder="payohtee@payohtee.bb" />
                        <span asp-validation-for="CompanyEmail" class="text-danger"></span>
                    </div>
                </div>
            </div>     
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <i class="fa fa-envelope"></i>  Address Details
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Street</span>
                        </div>
                        <input asp-for="Address1" class="form-control" />
                        <span asp-validation-for="Address1" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Apartment</span>
                        </div>
                        <input asp-for="Address2" class="form-control" />
                        <span asp-validation-for="Address2" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">City</span>
                        </div>
                        <input asp-for="Address3" class="form-control" />
                        <span asp-validation-for="Address3" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">District</span>
                        </div>
                        <input asp-for="Address4" class="form-control" />
                        <span asp-validation-for="Address4" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Parish</span>
                        </div>
                        <select class="form-control" id="sel1">
                            <option>St.Michael</option>
                            <option>Christ Church</option>
                            <option>St.Lucy</option>

                        </select>
                        <span asp-validation-for="Parish" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Country</span>
                        </div>
                        <select class="form-control" id="sel1">
                            <option>Select Country</option>
                            <option>Barbados</option>
                        </select>
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Postal Code</span>
                        </div>
                        <input asp-for="PostalCode" class="form-control" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="input-group mb-3">
                
            </div>
        </div>
    </div>
</form>


@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
